.main{
    width: 100%;
    height: 100vh;
}
.section{
    width: 100%;
    color: var(--coral);
    padding: 50px 10vw;
    text-align: center;

    .areaForm{
        padding: 20px;
        width: 49%;
        background-color: #4317c710;
        margin-top: 25px;
    }
}