.section{
    width: 100%;
    padding: 70px 18vw;
    background-color: var(--azul);
    text-align: center;

    @media screen and (max-width: 1500px) {
        padding: 70px 10vw;
    } 

    @media screen and (max-width: 800px) {
        padding: 70px 5vw;
    } 
}
.diferenciais{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @media screen and (max-width: 800px) {
        flex-wrap: wrap;
        justify-content: space-evenly;
    } 
    
}
.diferencial{
    text-align: left;
    width: 250px;
    margin-top: 40px;
    
    @media screen and (max-width: 800px) {

    } 
}
.icon{
    width: 100px!important;
    height: 100px!important ;
    background-color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-left: 25px;
}
.separator{ 
    height: 5px; 
    width: 100px;
    background-color: var(--coral);
}