.section{
    width: 100%;
    padding: 70px 18vw;
    background-color: var(--azul);
    text-align: center;

    @media screen and (max-width: 1500px) {
        padding: 70px 10vw;
    } 

    @media screen and (max-width: 800px) {
        padding: 70px 5vw;
    } 
}
.diferenciais{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @media screen and (max-width: 800px) {
        flex-wrap: wrap;
        justify-content: space-evenly;
    } 
    
}
.diferencial{
    text-align: center;
    width: 250px;
    margin: 0 20px;
    margin-top: 40px;

    @media screen and (max-width: 500px) {
        width: 90vw;
        margin-top: 10px;
    } 
}
.separator{ 
    height: 5px; 
    width: 100px;
    background-color: var(--coral);
    margin: 0 auto;
}