.section{
    width: 100%;
    text-align: center;
    background-color: var(--white);
    padding: 50px 0;
}
.paragrafo{
    font-weight: 600;
    color: var(--azul);
    margin-bottom: 30px;
    line-height: 23px;
    font-size: 18px;
}