.form{
    position: relative;

    .sendDiv{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #4317c71f;
        opacity: 0;
        pointer-events: none;
        transition: .5s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
}

    &.sending{
        .sendDiv{
            opacity: 1;
            pointer-events: all;
        }
    }
    text-align: left;

    h3{
        margin-top: 0;
    }

    > span{
        font-size: 12px;
    }
    > button{
        width: 100%;
        height: 40px;
        background-color: var(--azul);
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        color: var(--white);
        margin-bottom: 10px;
        cursor: pointer;
    }
}