.sectionProdutos{
    text-align: center;
    padding: 70px 18vw;

    @media screen and (max-width: 1500px) {
        padding: 70px 10vw;
    } 

    @media screen and (max-width: 800px) {
        padding: 70px 5vw;
    } 
}
.produtos{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;

    @media screen and (max-width: 800px) {
        justify-content: space-evenly;
    } 
}
.produto{
    margin-bottom: 10px !important;
}
.sectionVideo{
    width: 100%;
    background-color: var(--white);
    padding: 70px 18vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @media screen and (max-width: 1500px) {
        padding: 70px 10vw;
    } 

    @media screen and (max-width: 800px) {
        flex-wrap: wrap-reverse;
        padding: 70px 5vw;

        .content{
            width: 90vw;
            margin-bottom: 20px;
        }

        .iframe{
            width: 90vw;
            height: 51vw;
        }
    } 
}
.content{
    width: 25vw;

    @media screen and (max-width: 1500px) {
        width: auto;
    }
}
.sectionInicio{
    width: 100%;
    padding: 0 18vw;
    background-color: var(--azul);
    position: relative;
    background-image: url(../public//images/fundo_inicio.png);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 56vh;

    @media screen and (max-width: 1500px) {
        padding: 60px 10vw;
        height: auto;
        background-size: 115vw;
        background-position: -150px 0;
    }

    @media screen and (max-width: 800px) {
        padding: 60px 5vw;
        background-image: none;        
    }
}
.paragrafoVideo{
    font-weight: 600;
}
.iframe{
    width: 32vw;
    height: 18vw;
    margin-right: 30px;

    @media screen and (max-width: 1500px) {
        width: 40vw;
        height: 24.7vw;
    }
}