.sectionProdutos{
    text-align: center;
    padding: 70px 18vw;

    @media screen and (max-width: 1500px) {
        padding: 70px 10vw;
    } 

    @media screen and (max-width: 800px) {
        padding: 70px 5vw;
    } 
}
.produtos{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;

    @media screen and (max-width: 800px) {
        justify-content: space-evenly;
    } 
}
.produto{
    margin-bottom: 10px !important;
}
.sectionVideo{
    width: 100%;
    background-color: var(--white);
    padding: 70px 18vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @media screen and (max-width: 1500px) {
        padding: 70px 10vw;
    } 

    @media screen and (max-width: 1000px) {
        flex-wrap: wrap-reverse;
        padding: 70px 5vw;

        .contentVideo{
            width: 90vw;
            margin-bottom: 20px;
        }

        .iframe{
            margin: 0 auto;
        }
    } 
}
.contentVideo{
    height: 18vw;
    width: 25vw;

    @media screen and (max-width: 1500px) {
        width: 50vw;
        height: 24.7vw;
    }

    @media screen and (max-width: 1350px) {
        width: 50vw;
        height: auto;
    }
}
.sectionInicio{
    width: 100%;
    padding: 0 18vw;
    background-color: var(--azul);
    position: relative;
    background-image: url(../public//images/fundo_inicio.png);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 56vh;
    background-repeat: no-repeat;

    @media screen and (max-width: 1500px) {
        padding: 60px 10vw;
        height: auto;
        background-size: 120vw;
        background-position: -150px 0;
    }

    
    @media screen and (max-width: 1350px) {
        padding: 60px 10vw;
        background-size: 155vw;
        background-position: -200px 0;
    }

    @media screen and (max-width: 1000px) {
        background-image: none;        
    }

    @media screen and (max-width: 800px) {
        padding: 60px 5vw;
        background-image: none;        
    }
    
}
.paragrafoVideo{
    font-weight: 600;
}
.iframeArea{
    position: relative;
    width: 40vw;
    padding-top: calc(calc(9 / 16) * 40vw);
    margin-right: 40px;

    @media only screen and (max-width: 1000px) {
        width: 90vw;
        margin: 0 auto;
        padding-top: calc(calc(9 / 16) * 90vw);
    }
}
.iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}