.section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 10vw;
    background-color: var(--azul);

    .contentArea{
        width: 50%;

        .titulo{
            margin-bottom: 30px;
        }
    }

    .areaImage{
        width: 450px;
        background-color: aqua;
        height: 350px;
        position: relative;

        .imagePrincipal{
            object-fit: cover !important;
        }
    }
}