.section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 10vw;
    background-color: var(--azul);

    @media screen and (max-width: 800px) {
        flex-wrap: wrap;
        padding: 50px 5vw;

        .contentArea{
            width: 90vw !important;
        }
        
        .areaImage{
            margin-top: 10px;
            width: 90vw;
        }
    } 

    .contentArea{
        width: 50%;

        .titulo{
            margin-bottom: 30px;
        }
    }

    .areaImage{
        width: 450px;
        background-color: aqua;
        height: 350px;
        position: relative;

        .imagePrincipal{
            object-fit: cover !important;
        }
    }
}