.hr{
    width: 100%;
    margin: 0 18vw;
    height: 10px;
    border-top: 1px dashed #4317c754;

    @media screen and (max-width: 1500px) {
        margin: 0 10vw;
    }

    @media screen and (max-width: 800px) {
        margin: 0 5vw;
    }
    &.last{
        border: none;
    }
}