.areainput{
    flex-wrap: wrap;
    margin-bottom: 10px;

    .textarea{
        width: 100%;
        border: 1px solid var(--azul);
        background-color: transparent;
        margin-top: 10px;
        resize: none;
        color: var(--azul);
        padding: 10px;
    }
}